  <div class="bg-cyan-50">
  <div class="max-w-6xl mx-auto">
   
        <div class=" p-8 rounded-lg  w-full">
            <h2 class="text-4xl font-bold mb-4 ">Contact Us</h2>
            <div class="mb-6">
                <div>
                    <p class="mb-1">
                        <span class="font-medium">Phone</span>
                    </p>
                    <p class="ml-4 opacity-80">
            8722040606                    </p>
                </div>
                <div class="mt-4">
                    <p class="font-medium">Email</p>
                    <p class="ml-4 opacity-80">{{'principal@davidandmaryacademy.in'}}</p>
                </div>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-2">Address</h3>
                <p class="opacity-80">
                  David & Mary Academy,
                  <br> 327, Hulimangala Main Rd,
                  <br> Neeladri Nagar, 
                  <br>Electronics City Phase 1, Electronic City,
                  <br> Bengaluru, Karnataka 
                  <br>560100
                </p>
            </div>
            <div class="mt-6">
                <a class="btn btn-neutral btn-wide"  target="_blank" href="https://maps.app.goo.gl/hpjMFhNm9cr6HJ5M7">Locate on map</a>
            </div>
        </div>
        
    </div>
    </div>